{% extends 'quiz/base.html' %}
{% block content %}


<div class="container-test">
{# Table with all classes taught. #}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Klassen</th>
        </tr>
    </thead>
    <tbody>
            {% for class in classrooms %}
            <tr>
                <td><a class="nav-link link-secondary" href="{% url 'classroom' class.id %}">{{ class }}</a></td>
                {#<td> {{ class }} </td>#}
            </tr>
            {% endfor %}
    </tbody>
</table>

</div>

{% endblock content %}
