{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />

{% block content %}
<div class="main">
    <div class="formHeader">
        <h3>Melde dich an</h3>
    </div>

    <div class="formContent">
        <form method="POST">{% csrf_token %}
            <label for="username">Nutzername:</label>
            <input type="text" id="username" name="username" placeholder="Gib deinen Nutzernamen an" required />

            <label for="password">Passwort:</label>
            <input type="password" id="password" name="password" placeholder="Gib dein Passwort ein" required />

            <div class="wrap">
                <button type="submit" onclick="solve()">Einloggen</button>
            </div>
        </form>
    </div>

    <div class="formQuestion">
        Noch nicht registriert? <a href="{% url 'registration' %}" style="text-decoration: none;">Leg ein Konto an</a>
    </div>

    <div class="backHome">
        <a href="{% url 'home' %}" style="text-decoration: none;">Zurück zur Hauptseite</a>
    </div>

</div>
{% endblock %}
