{% extends 'quiz/base.html' %}
{% block content %}
    <div class="container text-center">
    <div class="row mt-5">
        <div class="col" id="title">
            <h1>Mathe Quiz</h1>
        </div>
    </div>

    <div class="row mt-5" id="content">
        <h2>Kategorien</h2>
    </div>

    <div class="row mt-4">
        <!-- ToDo!!! Code um die Kategorien aus der Datenbank zu laden!! -->
        {% for category in categoriess %}
            <a class="btn btn-success mt-4" href="{% url 'quizzing' %}" id="category-text" role="button">{{ category }}</a>
        {% endfor %}
    </div>

</div>
{% endblock %}