{% load static %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}" />

<nav class="navbar shadow p-3 mb-4" style="background-color: #fd8102;">
    <div class="container-fluid">
        <a class="btn btn-success" href="{% url 'home' %}" role="button">Home</a>
        <a class="btn btn-success" href="{% url 'account' %}" role="button">Konto</a>
        <div class="navbar-nav">
        {# Ergänze weiteres div mit class d-flex für Flexbox, um Login nach rechts zu verschieben #}
            <div class="d-flex">
                {% if not user.is_authenticated %}
                    <a class="btn btn-success" href="{% url 'login' %}" role="button">Login</a>
                {% else %} 
                    <a class="btn btn-success" href="{% url 'logout' %}" role="button">Logout</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>