{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />

<nav class="navbar shadow p-3 mb-4" style="background-color: #fd8102;">
    <div class="container-fluid">
        <a class="navbar-brand link-light" href="{% url 'quiz' %}"><img src="{% static 'images/blue-m.svg' %}" alt="logo" />Learning App</a>
        <div class="navbar-nav">
        {# Ergänze weiteres div mit class d-flex für Flexbox, um Login nach rechts zu verschieben #}
        <div class="d-flex">
            {% if not user.is_authenticated %}
                <a class="btn btn-success" href="{% url 'login' %}" role="button">Login</a>
            {% else %} 
                <a class="btn btn-success" href="{#{% url 'logout' %}#}" role="button">Logout</a>
            {% endif %}
        </div>
        </div>
    </div>
</nav>
