<nav class="navbar navbar-expand-lg">
<div class="container-fluid">



    <a class="navbar-brand" href="{% url 'about' %}">Über Learning App</a>
    <button class="navbar-toggler" 
        type="button" data-bs-toggle="collapse" 
        data-bs-target="#navbarNavDropdown" 
        aria-controls="navbarNavDropdown" 
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>

        <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">über LearningApp</a>
        </li>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Fächer</a>
            <ul class="dropdown-menu">
                {% for subject in subjects %}
                    <li>
                    <a class="dropdown-item" href="{% url 'categories' subject %}">{{ subject }}</a>
                    </li>
                {% endfor %}

            </ul>
        </li>
    </ul>
    </div>
    
    {# Navbar rechte Seite #}
    {# Hier Login und Logot mit Validierung #}
    <div class="navbar-nav">
    {% if user.is_authenticated %}
        <form method="POST" action="{% url 'logout' %}" class="nav-item">
        {% csrf_token %}
        <button type="submit" class="nav-link btn btn-link">Abmelden</button>
        </form>
        <a class="nav-item nav-link" href="{% url 'profile' %}">{{ user.username }}</a>
        <img class="profile-picture" src="{{user.profile.image.url}}" alt="Profilbild">
    {% else %}
        <a class="nav-item nav-link" href="{% url 'login' %}">Anmelden</a>
        <a class="nav-item nav-link" href="{% url 'register' %}">Registrieren</a>
    {% endif %}
    </div>

</div>
</nav>