{% extends 'quiz/base.html' %}
{% block content %}

<div class="qa-main">

    <div class="qa-title" id="category">
        <h1>{{ category }}</h1>
    </div>

    <div class="container-test">
        
        <div class="grid-container question-answer">

                <div class="question"><b>Geschafft!</br> Du hast das Quiz beendet.</br> Deine Punktzahl ist: </b> 
                    {{ score }}
                </div>

        </div>

        {# Nach "weiter" soll das Ergebnis/die Punktzahl kommen #}
        <div class="qa-button">
            <a class="btn btn-success" href="{% url 'home' %}">Weiter</a>
        </div>

    </div>

</div>

{% endblock content %}