{% extends 'quiz/base.html' %}
{% block content %}

<div class="qa-main">

    <div class="qa-title" id="category">
        <h1>{{ category }}</h1>
    </div>

    <div class="container-test">
        <div class="instruction"><b>Klicke auf die richtige Antwort</b><hr></div>
        <div class="grid-container question-answer">

                <div class="question"><b>Frage: </b> 
                    {{ question }}
                </div>

                {% for answer in answers %}
                    <a class=" grid-item btn btn-success" href="{% url 'check_answer' answer.id %}" role="button">{{ answer }}</a>
                {% endfor %}
        </div>
    </div>

</div>
</div>


</div>

{% endblock content %}

