{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />

{% block content %}
<div class="main">
    <div class="formHeader">
        <h3>Registriere dich</h3>
    </div>

    <div class="formContent">
        <form method="POST">{% csrf_token %}
                <label for="first">Vorname:</label>
                <input type="text" id="first" name="first" placeholder="Vorname" required />

                <label for="first">Nachname:</label>
                <input type="text" id="last" name="last" placeholder="Nachname" required />

                <label for="first">Nutzername:</label>
                <input type="text" id="username" name="username" placeholder="Nutzername" required />

                <label for="first">Email:</label>
                <input type="text" id="email" name="email" placeholder="Email Adresse" required />

                <label for="password">Passwort:</label>
                <input type="password" id="password" name="password" placeholder="Passwort" required />

                <div class="wrap">
                    <button type="submit">Registrieren</button>
                </div>
        </form>
    </div>

    <div class="formQuestion">
        Du hast schon ein Konto? <a href="{% url 'login' %}" style="text-decoration: none;">Logge dich hier ein</a>
    </div>

        <div class="backHome">
        <a href="{% url 'home' %}" style="text-decoration: none;">Zurück zur Hauptseite</a>
    </div>

</div>
{% endblock %}