{% extends 'quiz/base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">

        {# Linker Container #}
        <div class="col-lg-6">
            <h3 class="card-header">To Do</h3>
            {% for subject in subjects %}
            <div class="card-column">
                <h4 class="card-title"> 
                    {{ subject.name }}
                </h4>
                {% for q_left in quizzes_left %}
                <div class="card-category">
                    <div class="card-body-left">
                        {{ q_left }}
                    {# <a class=" grid-item btn btn-success" href="{% url 'categories' q_done.name q_done.class_number %}" role="button">{{ q_done.name }}</a> #}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        {# Rechter Container #}
        <div class="col-lg-6">
            <h3 class="card-header">Erledigt</h3>
            {% for subject in subjects %}
                <div class="card-column">
                    <h4 class="card-title"> 
                        {{ subject.name }}
                    </h4>
                    {% for q_left in quizzes_left %}
                    <div class="card-category">
                        <div class="card-body-right">
                        {{ q_left }}
                        {# <a class=" grid-item btn btn-success" href="{% url 'categories' q_done.name q_done.class_number %}" role="button">{{ q_done.name }}</a> #}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock %}
