/* HOME */
html {
    min-height: 100%;
}

body {
    /*background-image: url("../images/background.jpg");
    background-color: #00c4ce;*/
    min-height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}

h1 {
    color: #008000;
    text-align: center;
}


h2,
h3,
h4,
h5,
h6,
.card-header,
.card-title {
    color: #444444;
}

p {
    color: #444444;
}

ul {
    color: #444444;
}

.fullscreen {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: 50% 50%;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

.grid-container {
    display: grid;
    row-gap: 25px;
    grid-template-columns: auto;
    padding: 10px;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 25px;
}


@media (max-width: 1259px) {
    .fullscreen {
        background-image: url("../images/background.jpg");
    }
}

@media (min-width:1260px) {
    .fullscreen {
        background-image: url("../images/background.jpg");
    }
}

/* profile.html */
.content-section {
    background: #ffffffe3;
    padding: 25px 40px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #444444;
}

.media {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    /*column-gap: 5px;*/
}

.account-img {
    max-height: 125px;
    max-width: 125px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
    color: #444444;
}

/* register.html + login.html */
.main-text {
    padding: 20px 25px;
    background: #ffffffe3;
    color: #444444;
    border-radius: 20px;
}

/* menu.html */
.profile-picture {
    max-height: 35px;
    max-width: 35px;
    border-radius: var(--borderRadius-full, 50%) !important;
    margin-top: 3px;
}

.navbar.navbar-expand-lg {
    display: flex;
    padding: var(--base-size-16, 16px);
    gap: var(--base-size-12, 12px);
}


/* quiz.html */
.questions, .answers {
    margin-top: 4px;
    color: #444444;
    padding: 10px;
}

.label {
    display: block;
    padding-left: 10px;
}

.question {
    text-align: justify;
    padding-left: 2%;
    color: #444444;
}

.qa-title {
    margin-top: 1%;
    margin-bottom: 10%;
}

.qa-button {
    text-align: right;
}

.instruction {
    text-align: center;
    color: #444444;
}

.container-test, 
.card.w-100.mb-3 {
    background-color: #c1ddf390;
    padding: 1em;
    border-radius: 5px;
    margin-top: 10px;
}


.card {
    background-color: #c1ddf380;
    margin-top: 50px;
}

.welcome {
    margin-top: 50px;
}

.icon-refresh {
    border-radius: 40%;
    font-size: 20px;
    background-color: #00800080;
}

/* about.html */
.about-container.present {
    width: 100%;
    background-color: #c1ddf390;
    padding: 1em;
    border-radius: 5px;
    border: 1px solid #b5c3cc;
    margin-top: 10px;
}

.idea, 
.present, 
.future {
    width: 45em;
    text-align: left;
}

.item > h3 {
    color: #008000;
}
