/* HOME */
body {
    /*background-image: url("../images/background.jpg");
    background-color: #00c4ce;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fullscreen {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1259px) {
    .fullscreen {
        background-image: url("../images/background.jpg");
    }
}

@media (min-width:1260px) {
    .fullscreen {
        background-image: url("image-1960.jpg");
    }
}
