{% extends 'quiz/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class='main-text-register'>

        <form method="POST">{% csrf_token %}
            
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" id="legende">Melde dich jetzt an</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Registrieren</button>
            </div>
        </form>

        <div class="border-top pt-3">
            <small class="text-muted">
                Du hast schon einen Account? <a class="ml-2" href="{% url 'login' %}">Hier einloggen</a>
            </small>
        </div>

    </div>

{% endblock %}